<div id="awards" class="container mt-5">
    <div class="card mb-3">
        <div class="card-header bg-body-tertiary">
            <h3 class="mb-2 text-center" data-anchor="data-anchor">Awards, Patents, and Certificates</h3>
        </div>
        <div class="card-body px-sm-4 px-md-8 px-lg-6 px-xxl-8">
            <div class="subsection mb-3">
                <h5>Awards</h5>
                <ul class="fs-10 mb-0">
                    <li>
                        <strong>PhD Academic Excellence Award</strong>, Koç University, Turkey, Sept 2020
                    </li>
                    <li>
                        <strong>Exceptional Talent Student Title (ranked among top 0.1% students in the National University Entrance Exam among more than half a million participants), June 2010</strong>
                    <li>
                        <strong>Ranked among the top 1% of the participants in the National Chemistry Olympiad - Iran, Feb 2009</strong>
                    </li>

                </ul>
            </div>
            <div class="subsection mb-3">
                <h5>Scholarships</h5>
                <ul class="fs-10 mb-0">
                    <li>
                    <a href="https://productive40.eu" target="_blank" class="text-primary">Productive 4.0 </a> Project Scholarship from Scientific and Technological Research Council of Turkey, Sept 2017
                    </li>
                    <li>
                        Full Ph.D. Scholarship, Koç University, Turkey, Sept 2016
                    </li>
                    <li>
                        Full M.Sc. Scholarship, Koç University, Turkey, Sept 2014
                    </li>
                </ul>
            </div>
            <div class="subsection mb-3">
                <h5>Patents</h5>
                <ul class="fs-10 mb-0">
                    <li>
                        Learn Offline, Search Online, A Hybrid Approach to Solving Scheduling Problems <a href="https://patents.justia.com/patent/20210312280" target="_blank" class="text-primary">(Patent No. 389829)</a>
                    </li>
                </ul>
            </div>
            <div class="subsection">
                <h5>Certificates</h5>
                <ul class="fs-10 mb-0">
                    <li>
                        Supervising <a href="https://www.linkedin.com/in/nima-manaf-phd-02174b74/overlay/experience/1676821846/multiple-media-viewer/?profileId=ACoAAA_FolkBxdEzai2ebXIchHGXCCzKFwCCJRs&treasuryMediaId=163552385221" target="_blank" class="text-primary">Master's</a> Students
                    </li>
                    <li>
                        Supervising <a href="https://www.linkedin.com/in/nima-manaf-phd-02174b74/overlay/experience/1676821846/multiple-media-viewer/?profileId=ACoAAA_FolkBxdEzai2ebXIchHGXCCzKFwCCJRs&treasuryMediaId=163552385423" target="_blank" class="text-primary">Bachelor's</a> Students
                    </li>
                </ul>
            </div>

            <div class="subsection mb-3">
                <h5>Grants</h5>
                <ul class="fs-10 mb-0">                    
                    <li>
                        NWO (The Dutch Research Council) 500,000 Hours of Computing Time Grant on National Computer Facilities
                    </li>
                    <li>
                        NWO (The Dutch Research Council) 1000,000 Hours of Computing Time Grant on National Computer Facilities
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
