<div id="education" class="container mt-2">
    <div class="card mb-3">
        <div class="card-header bg-body-tertiary">
            <h3 class="mb-2 text-center" data-anchor="data-anchor">Education</h3>
        </div>
        <div class="card-body px-sm-4 px-md-8 px-lg-6 px-xxl-8">
            <div class="timeline-vertical">
                <!-- PhD in Business Administration -->
                <div class="timeline-item timeline-item-start">
                    <div class="timeline-icon icon-item icon-item-lg text-primary border-300">
                        <span class="fs-8 fas fa-graduation-cap"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 timeline-item-time">
                            <div>
                                <p class="fs-10 mt-2 fw-semi-bold">Sept 2016 - Sept 2020</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="timeline-item-content">
                                <div class="timeline-item-card">
                                    <h5 class="mb-2">PhD in Business Administration</h5>
                                    <p class="fs-10 text-muted mb-2">
                                        <a href="https://www.ku.edu.tr/en/" target="_blank" class="text-primary">Koç University, Turkey</a>
                                    </p>
                                    <p class="fs-10 mb-0">Ph.D. Thesis Title: Modelling and Control of Production Systems Based on Observed Inter-event Times: An Analytical and Empirical Investigation</p>
                                    <ul class="fs-10 mb-0">
                                        <li>Analyzed extensive event data from semiconductor wafer fabrication.</li>
                                        <li>Developed ML and statistical methods for production time prediction.</li>
                                        <li>Conducted theoretical research on optimal control based on data-analysis results.</li>
                                    </ul>
                                    <p class="fs-10 mb-0">
                                        You may find the full text of my
                                        <a href="https://arxiv.org/abs/2204.01079" target="_blank" class="text-primary">PhD Thesis on arXiv, </a>
                                        or an overview of it 
                                        <a href="https://nimaman.github.io/posts/phd_thesis/" target="_blank" class="text-primary">here</a>
                                    </p>
                                    <p class="fs-10 mt-1 mb-0">Supervisor: <a href="https://en.wikipedia.org/wiki/Barış_Tan" target="_blank" class="text-primary">Prof. Dr. Barış Tan</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MSc in Operations and Information Systems -->
                <div class="timeline-item timeline-item-end">
                    <div class="timeline-icon icon-item icon-item-lg text-primary border-300">
                        <span class="fs-8 fas fa-graduation-cap"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 timeline-item-time">
                            <div>
                                <p class="fs-10 mt-2 fw-semi-bold">Sept 2014 - Sept 2016</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="timeline-item-content">
                                <div class="timeline-item-card">
                                    <h5 class="mb-2">MSc in Operations and Information Systems</h5>
                                    <p class="fs-10 text-muted mb-2">
                                        <a href="https://www.ku.edu.tr/en/" target="_blank" class="text-primary">Koç University, Turkey</a>
                                    </p>
                                    <p class="fs-10 mb-0">
                                        You may find the full text of my
                                        <a href="https://tez.yok.gov.tr/UlusalTezMerkezi/tezDetay.jsp?id=ASnENAfQxOIwPyjvS8gCGw" target="_blank" class="text-primary">Master Thesis</a>
                                        on the National Thesis Center of Turkey.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BSc in Industrial Engineering -->
                <div class="timeline-item timeline-item-start">
                    <div class="timeline-icon icon-item icon-item-lg text-primary border-300">
                        <span class="fs-8 fas fa-graduation-cap"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 timeline-item-time">
                            <div>
                                <p class="fs-10 mt-2 fw-semi-bold">Sept 2010 - Sept 2014</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="timeline-item-content">
                                <div class="timeline-item-card">
                                    <h5 class="mb-2">BSc in Industrial Engineering</h5>
                                    <p class="fs-10 text-muted mb-2">
                                        <a href="https://www.sharif.edu/" target="_blank" class="text-primary">Sharif University of Technology, Iran</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
