<div id="skills" class="container mt-5">
    <div class="card mb-3">
        <div class="card-header bg-body-tertiary">
            <h3 class="mb-2 text-center" data-anchor="data-anchor">Skills</h3>
        </div>
        <div class="card-body px-sm-4 px-md-8 px-lg-6 px-xxl-8">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-item icon-item-lg text-primary me-3">
                                    <i class="fas fa-brain fa-2x"></i>
                                </div>
                                <h5 class="mb-0">Machine Learning and AI</h5>
                            </div>
                            <p class="mt-3 mb-0">Reinforcement Learning, Supervised Learning, Unsupervised Learning, Deep Learning, Graph Neural Networks, Gradient-Free Learning, Statistical Learning</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-item icon-item-lg text-primary me-3">
                                    <i class="fas fa-cogs fa-2x"></i>
                                </div>
                                <h5 class="mb-0">Optimization Methods</h5>
                            </div>
                            <p class="mt-3 mb-0">Combinatorial Optimization, Stochastic Optimization, Evolution Strategies, Genetic Algorithms, Monte-Carlo Tree Search, Markov Decision Processes, Mathematical Programming, Constraint Programming, Dynamic Programming</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-item icon-item-lg text-primary me-3">
                                    <i class="fas fa-industry fa-2x"></i>
                                </div>
                                <h5 class="mb-0">Applications</h5>
                            </div>
                            <p class="mt-3 mb-0">Supply Chain Management, Resource Allocation, Inventory Control, Production Planning, Scheduling, Routing, Healthcare Operations, Queuing Systems, Semiconductor Wafer Fabrication</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-item icon-item-lg text-primary me-3">
                                    <i class="fas fa-code fa-2x"></i>
                                </div>
                                <h5 class="mb-0">Software and Programming Languages</h5>
                            </div>
                            <p class="mt-3 mb-0">
                                <strong>Programming Languages:</strong> Python, C++, SQL<br>
                                <strong>Python-C++ Integration Module:</strong> Pybind11<br>
                                <strong>Parallel Processing Modules:</strong> Ray, MPI, Multiprocessing<br>
                                <strong>Discrete Optimization Modules:</strong> Gurobi, CPLEX, LocalSolver, SCIP, Google OR Tools<br>
                                <strong>Machine Learning Modules:</strong> Pytorch, Deep Graph Library, Scikit-learn, XGBoost, LightGBM, CatBoost, Statsmodels<br>
                                <strong>Data Analytics and Visualization Modules:</strong> Numpy, Scipy, Pandas, cudf, Zarr, Matplotlib, Seaborn, Bokeh, Plotly<br>
                                <strong>Versioning tools:</strong> git
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-item icon-item-lg text-primary me-3">
                                    <i class="fas fa-users fa-2x"></i>
                                </div>
                                <h5 class="mb-0">Leadership and Coordination</h5>
                            </div>
                            <p class="mt-3 mb-0">
                                Master's Student Thesis Supervision<br>
                                Bachelor's Student Thesis Supervision<br>
                                Academia (Research) - Industry (Practice) Project Coordination<br>
                                Project Management
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
