<div id="work-experience" class="container mt-5">
    <div class="card mb-3">
        <div class="card-header bg-body-tertiary">
            <h3 class="mb-2 text-center" data-anchor="data-anchor">Work Experience</h3>
        </div>
        <div class="card-body px-sm-4 px-md-8 px-lg-6 px-xxl-8">
            <div class="timeline-vertical">
                <!-- Rabobank -->
                <div class="timeline-item timeline-item-start">
                    <div class="timeline-icon icon-item icon-item-lg text-primary border-300"><span class="fs-8 fas fa-briefcase"></span></div>
                    <div class="row">
                        <div class="col-lg-6 timeline-item-time">
                            <div>
                                <p class="fs-10 mb-0 fw-semi-bold">May 2022 - Present</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="timeline-item-content">
                                <div class="timeline-item-card">
                                    <h5 class="mb-2">Data Scientist</h5>
                                    <p class="fs-10 text-muted mb-2">Rabobank, Utrecht, Netherlands</p>
                                    <p class="fs-10 mb-0">Driving data analytics at Rabobank's Risk Department</p>
                                    <ul class="fs-10 mb-0">
                                        <li>Spearheaded the EU AI-Act task force.</li>
                                        <li>Evaluated ML models for ECB reporting.</li>
                                        <li>Addressed methodological challenges for the Rural Portfolio.</li>
                                        <li>Adapted latest EBA Guidelines with Python.</li>
                                        <li>Developed monitoring frameworks for Risk-Adjusted Return on Capital.</li>
                                        <li>Designed and implemented Challenger Models for the IFRS9 team.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Eindhoven University of Technology -->
                <div class="timeline-item timeline-item-end">
                    <div class="timeline-icon icon-item icon-item-lg text-primary border-300 ">
                        <span class="fs-8 fas fa-university"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 timeline-item-time">
                            <div>
                                <p class="fs-14 mt-1 fw-semi-bold">Sept 2020 - April 2022</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="timeline-item-content">
                                <div class="timeline-item-card">
                                    <h5 class="mb-2">Postdoctoral Research Associate</h5>
                                    <p class="fs-10 text-muted mb-2">Eindhoven University of Technology, Eindhoven, Netherlands</p>
                                    <p class="fs-10 mb-0">Leading cutting-edge research in the Future Logistics initiative while mentoring the next generation</p>
                                    <ul class="fs-10 mb-0">
                                        <li>Conducted research on evolutionary training of deep neural networks.</li>
                                        <li>Applied Reinforcement Learning and Evolution Strategies for inventory management problems.</li>
                                        <li>Supervised Bachelor’s and Master’s student theses.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bosch Center for AI -->
                <div class="timeline-item timeline-item-start">
                    <div class="timeline-icon icon-item icon-item-lg text-primary border-300"><span class="fs-8 fas fa-cogs"></span></div>
                    <div class="row">
                        <div class="col-lg-6 timeline-item-time">
                            <div>
                                <p class="fs-10 mb-0 fw-semi-bold">Feb 2019 - Jan 2020</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="timeline-item-content">
                                <div class="timeline-item-card">
                                    <h5 class="mb-2">PhD Industrial Sabbatical</h5>
                                    <p class="fs-10 text-muted mb-2">Bosch Center for AI, Stuttgart, Germany</p>
                                    <p class="fs-10 mb-0">Pioneered ML-driven automation for semiconductor decision-making.</p>
                                    <ul class="fs-10 mb-0">
                                        <li>Researched application of Q-Learning and Monte-Carlo Tree Search for parallel machine scheduling problems.</li>
                                        <li>Developed the reinforced genetic algorithm.</li>
                                        <li>Analyzed large manufacturing network data from the semiconductor wafer fabrication.</li>
                                        <li>Learn Offline, Search Online, A Hybrid Approach to Solving Scheduling Problems <a href="https://patents.justia.com/patent/20210312280" target="_blank" class="text-primary">Patent No. 389829</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
